/* Regular */
@font-face{
    font-family: Quicksand-regular;
    src: url(./Quicksand-Regular.ttf);
    font-display: swap;
}

/* medium*/
@font-face{
    font-family: Quicksand-medium;
    src: url(./Quicksand-Medium.ttf);
    font-display: swap;
}

/* SemiBold */
@font-face{
    font-family: Quicksand-semiBold;
    src: url(./Quicksand-SemiBold.ttf);
    font-display: swap;
}

/* Bold */
@font-face{
    font-family: Quicksand-bold;
    src: url(./Quicksand-Bold.ttf);
    font-display: swap;
}

/* Light */
@font-face{
    font-family: Quicksand-light;
    src: url(./Quicksand-Light.ttf);
    font-display: swap;
}