*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
// fonts
@import url(../assets/Fonts/Quicksand/quicksand.css);
:root{
    //padding
    --component-padding-top: 81px;
    // font styles
    --sand-regular:"Quicksand-regular", serif;
    --sand-semiBold: "Quicksand-semiBold", serif;
    --sand-bold: "Quicksand-bold", serif;
    --sand-light: "Quicksand-light", serif;
    --sand-medium: "Quicksand-medium", serif;
    //colors
    --primary-clr: #313640;
    --white: #fff;
    --secondary-clr: #31363d;
    --dark: #222325;
    --gray: #dbdbdb;
    --light-gray:#fafafa;
    --shadow-white: #efefef;
    // shadow
    --slight-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    // borders
    --weather-border-bottom: 1px solid rgba(255,255, 255,0.7);
    //transitions
    --transition-mild:  500ms ease all;
}
// global classes
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.container{
    padding: 30px 20px;
}
body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

body, i, h1, h2, h3, h4, h5, h6, span {
    font-family: var(--sand-regular);
}
ul, ol, dl {
    margin: 0;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.disabled{
    cursor: not-allowed;
    opacity: 0.5 !important;
}
.errorClass{
    border-bottom-color: rgb(233, 51, 51) !important;
}
.highlight--on--active{
    &:active{
        background-color: rgba(16, 109, 163, 0.5) !important;
        border-radius: 4px;
    }
}
.night--weather, .day--weather{
    transition: 500ms var(---transition-mild);
}
.day--weather {
    background-color: rgb(50,150, 249) !important;
}
.night--weather {
    background-color: rgb(20,42, 95) !important;
}
.container{
    max-width: 1024px;
    width:100%;
}
// xxx--global classes---xxx
// ANIMATIONS
// fade
.fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
.fadeEffect{
    animation: fadeIn 0.2s ease-out;
    -webkit-animation: fadeIn 0.2s ease-out;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running;
}
//  loading
  .weather--loading{
    @keyframes spin {
      to {
        transform: rotateZ(360deg);
      }
    }
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items:center;
    background-color: var(--white);
    span {
      display: block;
      margin: 0 auto;
      width:60px;
      height: 60px;
      border: 4px solid transparent;
      border-top-color: #142a5f;
      border-radius: 50%;
      animation: spin ease 1000ms infinite;
      -webkit-animation: spin ease 1000ms infinite;
    }
  }

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
// xxx---ANIMATIONS---xxx
