*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
// fonts
@import url(../assets/Fonts/Quicksand/quicksand.css);
:root{
    // font-sizes
    --font-size: 14px;
    --font-size-x-small: 0.75em;
    --font-size-small: 0.875em;
    --font-size-medium: 0.950em;
    --font-size-large: 1.25em;
    --font-size-x-large: 1.5em;
    //font weights
    --font-weight: 400;
    --font-weight-medium: 500;
    --font-weight-heavy: 700;
    //padding
    --component-padding-top: 81px;
    // font styles
    --sand-regular:"Quicksand-regular", serif;
    --sand-semiBold: "Quicksand-semiBold", serif;
    --sand-bold: "Quicksand-bold", serif;
    --sand-light: "Quicksand-light", serif;
    --sand-medium: "Quicksand-medium", serif;
    //colors
    --primary-clr: #313640;
    --white: #fff;
    --secondary-clr: #31363d;
    --dark: #222325;
    --gray: #dbdbdb;
    --light-gray:#fafafa;
    --shadow-white: #efefef;
    --transparent-white-lev1: rgba(255,255,255,0.1);
    --transparent-white-lev3: rgba(255,255,255,0.3);
    // shadow
    --slight-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
    // borders
    --weather-border-bottom: 1px solid rgba(255,255, 255,0.7);
    //transitions
    --transition-mild: 500ms ease all;
    // radius
    --el-radius: 5px;
}
body{
    user-select: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
// Global classes
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.container{
    padding: 30px 20px;
}


body, i, h1, h2, h3, h4, h5, h6, span {
    font-family: var(--sand-regular);
}
ul, ol, dl {
    margin: 0;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.disabled{
    cursor: not-allowed;
    opacity: 0.5 !important;
}
.errorClass{
    border-bottom-color: rgb(233, 51, 51) !important;
}
.highlight--on--active{
    &:active{
        background-color: rgba(16, 109, 163, 0.5) !important;
        border-radius: 4px;
    }
}
.night--weather, .day--weather{
    transition: 500ms var(---transition-mild);
}
.day--weather {
    background-color: rgb(50,150, 249) !important;
}
.night--weather {
    background-color: rgb(20,42, 95) !important;
}
.container{
    max-width: 1024px;
    width:100%;
}
#hourlyWeatherItem, #dailyWeatherItem {
    &:hover{
        border-radius: var(--el-radius);
        transition: var(--transition-mild);
        background-color: var(--transparent-white-lev1);  
    }
}
.forecast--title{
  font-size: 21px;
  font-weight: 800;
  text-transform: capitalize;
  margin:0;
}
// xxx--Global classes---xxx
// ANIMATIONS
// fade
.fade-enter-active,
  .fade-leave-active {
    transition: opacity 1s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
.fadeEffect{
    animation: fadeIn 0.2s ease-out;
    -webkit-animation: fadeIn 0.2s ease-out;
    animation-fill-mode: none;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running;
}
// huge-inc
.huge-inc-enter {
    opacity: 0;
    
    .hourly--details--inner {
      opacity: 0.4;
      transform: translateY(-5%) rotateX(35deg);
    }
  }
  
  .huge-inc-enter-active, .huge-inc-leave-active {
    transition: opacity 0.4s;
    
    .hourly--details--inner {
      transition: transform 0.4s, opacity 0.4s;
    }
  }
  
  .huge-inc-enter-to {
    
    .hourly--details--inner {
      opacity: 1;
      transform: rotateX(0deg);
    }
    
  }
  
  .huge-inc-leave-to {
    opacity: 0;
    
    .hourly--details--inner {
      transform: translateY(5%) rotateX(-35deg);
    }
  }
  .blink--element{
    animation: blink linear 700ms backwards;
    animation-iteration-count: 4;
  }
//  loading
  .weather--loading{
    @keyframes spin {
      to {
        transform: rotateZ(360deg);
      }
    }
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items:center;
    background-color: var(--white);
    span {
      display: block;
      margin: 0 auto;
      width:60px;
      height: 60px;
      border: 4px solid transparent;
      border-top-color: #142a5f;
      border-radius: 50%;
      animation: spin ease 1000ms infinite;
      -webkit-animation: spin ease 1000ms infinite;
    }
  }
.fadepage-enter{
    opacity: 0;
  }
  .fadepage-enter-active{    
      animation: fadeIn .1s linear forwards;
  }
  .fadepage-leave-active{
    animation: fadeOut .1s linear forwards;
  }
// Fade in
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
// Fade out
@keyframes fadeOut {
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
      opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

@keyframes blink {
  0%{
    opacity: 0;
    border: 1px solid transparent;
  }
  100%{
    opacity: 1;
    border: 1px solid var(--white);
  }
}
// xxx---ANIMATIONS---xxx
